# Build outputs
build/
*.class
*.exe
*.o


# Python specific
__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
ENV/

# C++ specific
*.out
*.app
*.dll
*.so
*.dylib

# OS specific files
.DS_Store
Thumbs.db